:root {
  --bg-1: #e3f2f1;
  --bg-2: #cadfde;
  --light-text: #fafbfb;
  --light-text-2: #f5f6f6;
  --dark-clr1: #3d5654;
  --dark-clr2: #425c5a;
  --yellow-1: #c99c33;
  --yellow-2: #d6a217;
  --dashboard-bg: #e1eceb;
}

body {
  background-color: var(--bg-1);
  background: linear-gradient(
    0deg,
    var(--bg-2),
    var(--bg-2),
    var(--bg-2),
    var(--bg-2),
    var(--bg-1),
    var(--bg-1),
    var(--bg-1),
    var(--bg-1)
  );
  min-height: 100vh;
  position: relative;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* the yellow background */
.round-bg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--yellow-2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-15%, -15%);
}
/* the yellow background ends here*/

main {
  padding-top: 50px;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: 100vh;
  overflow-y: hidden;
}

/* the dashboard on pc screen*/
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  background-color: var(--dashboard-bg);
  border-radius: 15px;
  box-shadow: 2px 40px 20px 0px #aabebda8;
  -webkit-box-shadow: 2px 40px 20px 0px #aabebda8;
  height: 95vh;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  overflow-y: hidden;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0)) */
}

/** the side nav on pc and menu on tab and mobile device  **/
.dashboard .left-pane {
  grid-column: 1 / 2;
  grid-row: auto;
  background-color: var(--dark-clr2);
  color: var(--light-text-2);
  text-transform: uppercase;
  font-size: 12px;
  /* position: sticky; */
  top: 0px;
}

#menu {
  height: fit-content;
  background-color: var(--dark-clr2);
  transition: 0.3s ease-in-out;
  height: 95vh;
  overflow-y: auto;
}

/*** user bio section of the nav ***/
.left-pane .user-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 30px;
  background-color: var(--dark-clr1);
  color: var(--light-text);
}

.left-pane,
#menu,
.user-bio {
  border-radius: 15px 30px;
}

/* when the left pane reach top of the screen, ley top border radius be zero */
.left-pane.top-radius-zero {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-bio .img-wrapper,
.small-screen-header .img-wrapper {
  width: 60px;
  height: 60px;
  padding: 2px;
  border: 1.5px solid #d6a217;
  border-radius: 50%;
  object-fit: cover;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.user-bio #user-email {
  font-size: 11px;
  text-transform: lowercase;
}

/*** user bio section of the nav ends here ***/

/** links container  **/
.nav-links {
  display: flex;
  flex-direction: column;
  background-color: var(--dashboard-bg);
  border-bottom: 1px solid var(--dark-clr2);
  border-spacing: 0;
  overflow: hidden;
}

.nav-links .space {
  content: "";
  width: 100%;
  height: 20px;
  background-color: var(--dark-clr2);
}

.left-pane li {
  background-color: var(--dark-clr2);
  box-shadow: 0 0 0 1px var(--dark-clr2);
  /* transform: translateZ(0); */
  /* overflow: hidden; */
  /* transition: 0.2 ease-in-out; */
}

.left-pane .link:hover {
  box-shadow: 0 0 0 1px var(--dashboard-bg);
  box-shadow: none;
}

.link a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  padding-left: 30px;
  margin-left: 10px;
  /* border: 1px solid red; */
}

.link a .link-icon {
  color: var(--yellow-1);
  font-size: 20px;
}

.test-link2 {
  border-radius: 0 30px 0 0;
}

.link:hover a {
  background-color: var(--dashboard-bg);
  color: var(--dark-clr2);
  border-radius: 30px 0 0 30px;
  /* transition: 0.2s ease-in-out; */
}
/** links container stop here  **/

/** nav footer container **/
.left-pane-footer {
  padding-left: 40px;
  padding-block: 20px;
  border-top: 1px solid var(--dark-clr2);
  border-top: 1px solid #5d7775;
  border-radius: 0 0 30px 10px;
}

.left-pane-footer h3 {
  font-size: 10px;
  color: var(--yellow-1);
  margin-bottom: 15px;
}

/*** active users container */
.left-pane-footer .active-users {
  display: flex;
  margin-bottom: 10px;
}

.active-users img,
.active-users span {
  position: relative;
  width: 35px;
  height: 35px;
  object-fit: cover;
  /* border: 2px solid gray; */
  border-radius: 50%;
}

#active-usr1 {
  z-index: 1;
}

#active-usr2 {
  z-index: 2;
  left: -10px;
}
#active-usr3 {
  z-index: 3;
  left: -20px;
}
#active-usr4 {
  z-index: 4;
  left: -30px;
}

#total-active-user {
  z-index: 5;
  left: -40px;
  background-color: var(--yellow-1);
  color: var(--light-text-2);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*** active users container ends here ***/

/** flight route container **/
.left-pane-footer .route {
  width: 80%;
  height: 100px;
  /* margin-inline: auto; */
  /* overflow: hidden; */
}

.route img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/** flight route container ends here **/
/** nav footer container ends here **/
.left-pane {
  border-radius: 15px 30px 30px 15px;
}
/** the side nav on pc and menu on tab and mobile device  ends here**/

/* dashboard content */
.dashboard .main-content {
  grid-column: 2 / -1;
  grid-template-rows: auto;
  padding: 20px;
  font-weight: 500;
}

/* flight details */
.first-section {
  background-color: var(--light-text);
  color: var(--dark-clr1);
  border-radius: 30px;
  width: 100;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
}

.first-section div {
  font-size: 11px;
}

.first-section i {
  font-size: 18px;
}

.row-1,
.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.column-1 {
  background-color: var(--dashboard-bg);
  padding: 5px 0px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  width: 60%;
}

.column-1 .flight-route {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  gap: 15px;
  position: relative;
  /* border: 1px solid green; */
  width: 100%;
}

.column-1 ul .from {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.from,
.to {
  /* border: 1px solid blue; */
}

.column-1 .swap-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--dark-clr1);
  color: var(--bg-1);
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid red; */
}

.swap-icon i {
  width: 100%;
}

.column-1 ul .to {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: auto;
}

.column-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40%;
  /* border: 1px solid blue; */
}

.column-2 > div {
  width: 50%;
}

.column-2 .calender {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  background-color: var(--dashboard-bg);
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
}

.column-2 .travelers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dashboard-bg);
  padding-left: 10px;
  border-radius: 30px;
}

.travelers input {
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.travelers span {
  font-size: 11px;
}

.travelers i {
  font-size: 14px;
}

.travelers .no-of-travelers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-block: 8px;
  padding-right: 15px;
}

/* second details */
.trip-type {
  width: 100%;
  padding-inline: 10px;
}

.picker-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-type span {
  padding: 8px 30px;
}

.custom-option {
  cursor: pointer;
  border-radius: 30px;
}

.trip-type .custom-option.selected {
  background-color: var(--dark-clr1);
  color: var(--light-text);
}

.ticket-type {
  background-color: var(--dashboard-bg);
  border-radius: 30px;
}

.custom-pick-container > .dropdown-title {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 15px;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  /* border: 1px solid black; */
}

.dropdown-title span {
  white-space: nowrap;
}

/* filter section  */
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.filter-match-count {
  font-size: 14px;
}

.filter-param {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 11px;
}

.filter-param button,
.filter-param .dropdown-title {
  background-color: var(--light-text);
  color: var(--dark-clr1);
  padding: 8px 20px;
}

.filter-param button:hover {
  background-color: var(--light-text);
}

.filter-param .dropdown-title {
  border-radius: 30px;
  gap: 0;
}

.filter-param i {
  font-size: 16px;
  margin-left: -5px;
}

/* book flight section */
.main-content .book-flight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  font-size: 11px;
}

.book-flight .booking-section {
  grid-column: 1 / 3;
  grid-row: auto;
  /* border: 1px solid gray; */
  border-radius: 10px;
  position: relative;
  z-index: 5px;
}

.booking-section .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px dashed var(--dark-clr2);
  position: relative;
  z-index: 5;
  font-size: 10px;
  max-height: fit-content;
  background-color: var(--light-text);
  color: var(--dark-clr1);
}

ul.card-container > li:last-of-type {
  border: none;
}

.cards::before,
.cards::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  background-color: var(--dashboard-bg);
}

ul.card-container > li:nth-child(n + 2)::before {
  top: -10px;
  left: -10px;
}

ul.card-container > li:nth-child(n + 2)::after {
  top: -10px;
  right: -10px;
}

.cards::before {
  bottom: -10px;
  left: -10px;
}
.cards::after {
  bottom: -10px;
  right: -10px;
}

.cards .btn {
  padding: 6px 12px;
  font-size: 9px;
}

.cards .flight-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* align-items: flex-end; */
}

.big-txt {
  font-size: 20px;
  font-weight: 400;
}

.clr-txt {
  color: var(--yellow-1);
}

.airline-logo {
  width: 60px;
  height: 60px;
}

.airline-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.landing-info,
.book-flight-btn {
  gap: 20px;
  align-items: flex-end;
}

.take-off-info {
  gap: 20px;
  align-items: flex-start;
}

.trip-info {
  gap: 5px;
  align-items: center;
}

/* side map */
.book-flight .right-side-map {
  grid-column: 3 / -1;
  grid-row: auto;
  height: fit-content;
  border-radius: 10px;
  font-size: 10px;
  /* border: 1px solid black; */
  max-height: fit-content;
  background-color: var(--dark-clr2);
}
.right-side-map .flight-route-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-clr2);
  color: var(--light-text-2);
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
}

.flight-route-info .take-off-point,
.flight-route-info .landing-point,
.type-of-trip {
  display: flex;
  flex-direction: column;
}

.flight-route-info .take-off-point,
.flight-route-info .landing-point {
  align-items: flex-end;
}

.type-of-trip {
  justify-content: flex-end;
}

.map-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
}

.map-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.flight-icon {
  color: var(--yellow-1);
  /* font-size: 35px; */
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-45%, -35%);
  width: 35px;
  height: 35px;
  transform: rotate(60deg);
}

.trip-pattern,
.trip-price-settings {
  background-color: var(--dark-clr1);
  color: var(--bg-1);
  font-size: 9px;
}

.trip-pattern {
  padding: 20px;
}

.trip-pattern .custom-option.selected,
.price-indicator button {
  padding: 5px 10px;
  background-color: var(--yellow-1);
}

.trip-price-settings {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 60px;
}

.trip-price-settings .price-rage {
  height: 1.5px;
  background-color: #4f6563;
  position: relative;
  margin-top: 20px;
}

.price-indicator {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--yellow-1);
}

.first-indicator {
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.second-indicator {
  top: 50%;
  left: 150px;
  transform: translate(0, -50%);
}

.price-indicator button {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--light-text);
  font-size: 9px;
  border-radius: 30px;
}

.price-indicator button::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid var(--yellow-1);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* responsive design for tablet and m0bile start here*/
/* style for hamburger menu icon stars here */
.small-screen-header {
  display: none;
  background-color: var(--dark-clr1);
  color: var(--light-text);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 20;
}

.small-screen-header .user-pfp {
  height: 35px;
  width: 35px;
}
.hamburger {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  z-index: 20;
  cursor: pointer;
}

.hamburger .bar,
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--light-text);
  transition: all 0.3s ease;
}

.hamburger .bar {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hamburger::before {
  top: 0;
}

.hamburger::after {
  bottom: 0;
}

.hamburger.active .bar {
  opacity: 0;
}

.hamburger.active::before {
  transform: rotate(45deg);
  top: 50%;
}
.hamburger.active::after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.dashboard .left-pane #menu.show-menu {
  display: inherit;
}

/* style for hamburger menu icon stars here ends here */
@media screen and (max-width: 1024px) {
  .small-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard .left-pane {
    grid-column: 1 / -1;
    position: sticky;
    z-index: 20;
  }

  main {
    padding-top: 30px;
  }

  .dashboard #menu {
    width: 45%;
    height: 90vh;
    position: absolute;
    z-index: 15;
    top: 60px;
    display: none;
  }

  .dashboard .main-content {
    grid-column: 1 / -1;
  }

  .left-pane .link a:hover {
    box-shadow: 0 0 0 1px var(--dashboard-bg);
  }
}

@media (max-width: 768px) {
  .dashboard .left-pane {
    height: fit-content;
  }

  .dashboard #menu {
    width: 50%;
  }

  .first-section div {
    width: 100%;
  }

  .row-1,
  .row-2 {
    flex-direction: column;
  }

  .row-1 .column-1 {
    width: 100%;
  }

  .column-1 .flight-route {
    padding-inline: 0;
  }
  .column-1 ul .to,
  .column-1 ul .from {
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
  }

  .flight-route {
    width: 100%;
  }

  .main-content .book-flight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-size: 11px;
  }

  .book-flight .booking-section {
    grid-column: 1 / -1;
  }

  .book-flight .right-side-map {
    grid-column: 1 / -1;
    font-size: 12px;
  }
  .right-side-map .flight-route-info {
    justify-content: space-evenly;
  }

  .side-map-img-wrapper {
    height: 30%;
  }
  .picker-btn-container {
    justify-content: space-evenly;
    /* gap: 15px; */
  }

  .trip-pattern {
    font-size: 11px;
  }

  .trip-pattern .custom-option.selected,
  .price-indicator button {
    padding: 8px 15px;
  }
}

/* For Scrollable Div */
.scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #425c5a transparent;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #425c5a; /* Your border color */
  border-radius: 6px;
}

/* hide menu scrollbar */
#menu::-webkit-scrollbar {
  display: none;
}

#menu{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 640px) {
  main {
    overflow-y: auto;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dashboard {
    height: 100vh;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  .dashboard #menu {
    width: 60%;
    height: 90vh;
  }

  .dashboard .left-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .column-1 .flight-route {
    flex-direction: column;
  }

  .row-1 .column-1 {
    background-color: transparent;
  }

  .column-1 ul .to,
  .column-1 ul .from {
    background-color: var(--dashboard-bg);
    padding-block: 10px;
    border-radius: 30px;
    width: 100%;
  }
  .column-1 ul .to {
    margin-right: 0;
  }

  .from .custom-select-container,
  .to .custom-select-container {
    flex-grow: 1;
  }
  .to .custom-select-input,
  .from .custom-select-input {
    width: 100%;
  }

  .flight-route .swap-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .trip-pattern .custom-option.selected,
  .price-indicator button {
    font-size: 10px;
  }
}

@media only screen and (max-width: 474px) {
}
