.bottom-right-radius {
  border-radius: 0 0 30px 0;
  /* background-color: orange; */
}

.btn {
  border-radius: 30px;
  padding: 12px 40px;
  cursor: pointer;
  background-color: var(--yellow-1);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  color: var(--light-text);
  white-space: nowrap;
  transition: 0.2s ease-in-out;
  max-height: fit-content;
  max-width: fit-content;
}

.btn:hover {
  background-color: var(--yellow-2);
  box-shadow: 0 4px 8px  #425c5aa0;
}

.top-right-radius {
  border-radius: 0 30px 0 0;
}

/* for select dropdown */
.custom-select-container, .select-traveler, .custom-pick-container {
  position: relative;
  width: fit-content;
}

.custom-select-input {
  width: 120px;
  padding: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 11px;
}

.custom-options {
  position: absolute;
  top: 130%;
  left: 0;
  width: fit-content;
  background-color: var(--dark-clr1);
  color: var(--light-text-2);
  z-index: 10;
  /* padding: 5px 10px; */
  overflow-y: auto;
  display: none;
  box-shadow: 0 4px 15px 4px rgba(0, 0, 0, 0.44);
  border-radius: 10px;
  white-space: nowrap;
  padding-bottom: 15px;
}

.custom-options h3 {
  font-size: 11px;
  padding: 10px 20px;
  background-color: var(--dark-clr2);
  color: var(--yellow-2);
  border: 1px solid rgb(97, 97, 97);
}

.custom-options li {
  cursor: pointer;
  font-size: 11px;
}

.custom-options li:hover {
  background-color: var(--dark-clr2);
  color: var(--light-text-1);
  color: white;
}

.custom-options li>span {
  display: block;
  padding: 10px 20px;
}

@media only screen and (max-width: 1536px) {
  .main-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #999; */
}
}

@media (max-width: 1280px) {
.main-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
}

@media (max-width: 1024px) {
.main-container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid black; */
}
}

@media (max-width: 768px) {
.main-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid black; */
}
}

@media only screen and (max-width: 640px) {
.main-container {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid gray; */
}

} 

@media only screen and (max-width: 474px) {
  .main-container {
    width: 100%;
    /* background-color: gray; */
  }
}